.rotateY{
    transform:rotateY(180deg);
    transition:0.5s;
}
.con_img1{
    background-image: url("projects.jpg");
    background-size: cover;
    background-position: center;
    filter:blur(1px);
}
#contact{
    width:100%;
    height:100vh;
}
.contact{
    display:flex;
    justify-content: space-between;
    left:9.5%;
    width:75%;
    padding:3% 3%;
    padding-bottom:2%;
    margin-top:50px;
    margin-left:10%;
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0.169);
}
.con_info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:45%;
    margin-left:30px;
    height:100%;
}
.loc_add,.phone,.email{
    margin-bottom:20px;
    color:white;
}
h3 .contact_hover{
    position:relative;
    top:-10px;
    right:200px;
    height:100%;
    width:150px;
    background-color:blueviolet;
}
.loc_add p,.phone p,.email p{
    padding:10px 5px;
    background:rgba(255, 255, 255, 0.112);
    border:2px solid rgba(255, 255, 255, 0.279);
    border-radius:10px;
}
.loc_add h3,.phone h3,.email h3{
text-shadow:1px 1px 3px rgb(0, 255, 251);
color:rgb(90, 9, 152);
padding:3px 20px;
border-radius:10px;
text-align:right;
background:linear-gradient(45deg,rgb(6, 104, 104),rgb(16, 215, 215),aqua);
margin-bottom:5px;
transition:1s;
}
.loc_add h3:hover,.phone h3:hover,.email h3:hover{
    background:linear-gradient(45deg,aqua,rgb(16, 215, 215),rgb(6, 104, 104));
    text-align:left;
    transition:1s;
}
#map{
    width:45%;
    height:380px;
    border:2px solid grey;
    border-radius:20px;
 }